<div id="sandbox" class="grid-projects">
  <ng-container *ngIf="loaded">
    <h3>Try this page:</h3>
    <ol>
      <li>change size via devtools (device toolbar)</li>
      <li>use accessibility buttons (tab, space, arrows) to navigate through elements</li>
      <li>check localstorage/sessionstorage objects in console while manipulating them</li>
    </ol>

    <app-fxflex></app-fxflex>

    <app-animations></app-animations>

    <app-html-apis></app-html-apis>

  </ng-container>
  <div class="h-100" *ngIf="!loaded">
    <div class="spinner">
      <img src="./assets/img/spinner.gif" />
    </div>
  </div>
</div>
