header {
    display: flex;
    padding: 1rem;
    background-color: var(--main-color);
    color: white;
}

.grid-menu {
    display: grid;
    grid-template-columns: repeat(6, minmax(120px, 170px));
    grid-gap: 1rem;
}

.grid-menu-item {
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 0.5rem;
    outline: none;
    background-color: var(--main-gray-color);
}

.grid-menu-item:last-child {
    border: 6px solid var(--main-yellow-color);
}

.grid-menu-item.active {
    background: var(--auxiliary-main-color);
    color: #fff;
}


.nav-link {
    font-size: 19px;
    padding: 0.3rem;
    color: white;
}

.fa {
   font-size: 20px;
   padding-right: 3px;
}

