<header id="navbar" class="grid-item">
    <section class="grid-menu">
        <div class="grid-menu-item " [routerLink]="['about']" routerLinkActive="active">
            <a class="nav-link"><i class="fa fa-diamond" aria-hidden="true"></i>About</a>
        </div>        
        <div class="grid-menu-item"  [routerLink]="['skills']" routerLinkActive="active">
            <a class="nav-link"><i class="fa fa-thermometer-three-quarters" aria-hidden="true"></i>Skills</a>
        </div>
        <div class="grid-menu-item" [routerLink]="['education']" routerLinkActive="active">
            <a class="nav-link"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Education</a>
        </div>
        <div class="grid-menu-item" [routerLink]="['experience']" routerLinkActive="active">
            <a class="nav-link"><i class="fa fa-check-square-o" aria-hidden="true"></i>Experience</a>
        </div>
        <div class="grid-menu-item" [routerLink]="['projects']" routerLinkActive="active">
            <a class="nav-link"><i class="fa fa-cubes" aria-hidden="true"></i>Projects</a>
        </div>
    </section>
</header>

 
