<mat-card class="grid-item">
  <mat-card-header>
    <button *ngIf="!hideHtmlToggler" (click)="toggleView()"
    cdkMonitorElementFocus (cdkFocusChange)="subtreeOrigin = formatOrigin($event)" aria-label="toggle view button">
      Show {{htmlShow ? 'UI' : 'key code'}}</button>
      <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle class="hide-for-small">{{subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>
