<div id="home" class="content">

    <section class="section summary-section">
        <h2 class="section-title"><i class="fa fa-male" aria-hidden="true"></i>Personal info</h2>
        <p>
            Was born in {{profile.born_year}} in {{profile.born_city}} (Ukraine), and I'm about to relocate to {{profile.future_city}} area.
            I possess a balanced character, an emotional maturity, a wide worldview, strong discipline, and a creative approach to issues.
        </p>

            <h2 class="section-title"><i class="fa fa-user"></i>Experience and job expectations</h2>
            <div class="summary">
                <p>{{profile.about}}</p>
            
                <h2 class="section-title"><i class="fa fa-info" aria-hidden="true"></i>This project</h2>
                <p>
                    <b>Up-to-date: <i>November 2024</i>.</b> This SPA-app was created via Angular with elements of Angular Material.
                    You can explore <a href="https://github.com/Ktojan/curricular" target="_blank">the code</a>
                </p>
                <img src="./assets/img/lighthouse.png" width="35%" align="right" />

                <ul><b>Features and patterns, used in the project:</b>
                    <li>Architecture of app according to SOLID and DRY principles</li>
                    <li>Shared module and some shared (reusable) components</li>
                    <li>CSS-variables for styling</li>
                    <li>Responsive design (due to Grid-css pattern and media styles)</li>
                    <li>unit-tests (Jasmine + Karma) for the most functionality</li>
                    <li>Wide usage of Angular Material components such as:
                        MatCard, MatButton, MatSidenav, MatTable, MatRadio etc.</li>
                    <li>(Sandbox) fxFlex design layout</li>
                    <li>(Sandbox) Angular built-in animations; A11y properties</li>
                    <li>(Sandbox) HTML5 APIs + integrated maps</li>
                </ul>            
            </div>

            <div class="container-block hide-for-small">
                <h2 class="section-title"><i class="fa fa-street-view" aria-hidden="true"></i>Interests</h2>
                <p>{{profile.interests}}</p>
            </div>
        
            <div class="container-block hide-for-small">
                <h2 class="section-title"><i class="fa fa-language" aria-hidden="true"></i>Languages</h2>
                <div class="lang-list">
                    <span *ngFor="let item of profile.languages">{{item.label}} {{item.lang}} ({{item.level}})</span>
                </div>
            </div>
</section>
</div>
