<div id="home" class="content">

    <section class="section summary-section">
        <h2 class="section-title"><i class="fa fa-male" aria-hidden="true"></i>Personal info</h2>
        <p>
            Was born in {{profile.born_year}} in {{profile.born_city}}, from 2020 live in {{profile.current_city}}. I have a balanced character, realistic worldview, creative approach to life. Stick to stoicism.
        </p>

            <h2 class="section-title"><i class="fa fa-user"></i>Actual job expectations</h2>
            <div class="summary">
                <p>
                    I'm looking for involv.ement as front-end developer in sapid huge projects with modern
                    tools (e.g. Angular 8). Programming is more prefferable for me than a markup or design, project area and basic ideas are important too.
                    Social activities and live collaboration as well as joint leisure with colleagues are valuable for me.
                </p>

                <div class="container-block hide-for-small">
                    <h2 class="section-title"><i class="fa fa-street-view" aria-hidden="true"></i>Interests</h2>
                    <p>
                        Drones, singing, guitar, theatre, chess, box, ancient greek philosophy, social science, yoga.
                    </p>
                </div>

                <div class="container-block hide-for-small">
                    <h2 class="section-title"><i class="fa fa-language" aria-hidden="true"></i>Languages</h2>
                    <ul class="stuff-list">
                        <li>Russian <span class="lang-desc">(Native)</span></li>
                        <li>Ukrainian <span class="lang-desc">(Fluent)</span></li>
                        <li>English <span class="lang-desc">(Upper Intermediate)</span></li>
                        <li>Spanish <span class="lang-desc">(Elementary)</span></li>
                    </ul>
                </div>

                <h2 class="section-title"><i class="fa fa-info" aria-hidden="true"></i>This project</h2>
                <p>
                    This curriculum vitae SPA-app was created via Angular7 with elements of Angular Material. The
                    goal is to reveal to the world how brilliant I am in both Angular and front-end in general.
                    You can explore the code <a href="https://github.com/Ktojan/curricular" target="_blank">on Github</a>.
                                </p>
                <p>The interface is about to be updated, aswell as Angular version (from 7 to 11).</p>
                
                    <!-- <ul><b>Features, used in the project:</b> 
                        <li>CSS-variables</li>
                        <li>Route guard <a [routerLink]="['/projects']">(canActivate)</a></li>
                        <li>Shadow DOW </li>
                    </ul>

                    <popup-info data-text="Your card validation code (CVC) is an extra
                    security feature — it is the last 3 or 4
                    numbers on the back of your card."></popup-info> -->
            </div>
</section>
</div>
