<div id="home" class="content">

    <section class="section summary-section">
        <h2 class="section-title"><i class="fa fa-male" aria-hidden="true"></i>Personal info</h2>
        <p>
            Was born in 1986 in Odessa, from 2020 live in Kiev. I have a balanced character, realistic worldview, creative approach to life. Stick to stoicism.
        </p>

        <div class=" show-for-small">
            <h2 class="section-title"><i class="fa fa-male" aria-hidden="true"></i>Karpovich Andrey</h2>
            <h3 class="tagline">Frontend developer</h3>
            <ul class="list-unstyled">
                <li class="email"><i class="fa fa-envelope"></i><a href="mailto: karpovich.andrey@gmail.com"> karpovich.andrey@gmail.com</a></li>
                <li class="phone"><i class="fa fa-phone"></i><a href="tel:063-72-16-651"> 063-72-16-651</a></li>
                <li class="linkedin"><i class="fa fa-skype"></i> andrey-traveller</li>
                <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/andrey-karpovich-345701131" target="_blank"> LinkedIn</a></li>
                <li class="github"><i class="fa fa-github"></i><a href="https://github.com/Ktojan" target="_blank"> github.com/Ktojan</a></li>
            </ul>
        </div>

            <h2 class="section-title"><i class="fa fa-user"></i>Actual job expectations</h2>
            <div class="summary">
                <p>
                    I'm looking for involvement as front-end developer in sapid huge projects with modern
                    tools (e.g. Angular 8). Programming is more prefferable for me than a markup or design, project area and basic ideas are important too.
                    Social activities and live collaboration as well as joint leisure with colleagues are valuable for me.
                </p>

                <div class="container-block hide-for-small">
                    <h2 class="section-title"><i class="fa fa-street-view" aria-hidden="true"></i>Interests</h2>
                    <p>
                        Drones, singing, guitar, theatre, chess, box, ancient greek philosophy, social science, yoga.
                    </p>
                </div>

                <div class="container-block hide-for-small">
                    <h2 class="section-title"><i class="fa fa-language" aria-hidden="true"></i>Languages</h2>
                    <ul class="stuff-list">
                        <li>Russian <span class="lang-desc">(Native)</span></li>
                        <li>Ukrainian <span class="lang-desc">(Fluent)</span></li>
                        <li>English <span class="lang-desc">(Upper Intermediate)</span></li>
                        <li>Spanish <span class="lang-desc">(Elementary)</span></li>
                    </ul>
                </div>

                <h2 class="section-title"><i class="fa fa-info" aria-hidden="true"></i>This project</h2>
                <p>
                    This curriculum vitae SPA-app was created via Angular7 with elements of Angular Material. The
                    goal is to reveal to the world how brilliant I am in both Angular and front-end in general.
                    You can explore the code <a href="https://github.com/Ktojan/curricular" target="_blank">on Github</a>.
                </p>
            </div>
</section>
</div>