<shared-card 
      [title]="'fxLayout (Birdboxes)'"
      [class.fxflex-card]="!isHtmlMode"
      (showHtml)="toggleHtml($event)">
      <pre *ngIf="isHtmlMode; else mainView">{{code}}</pre>
      <ng-template #mainView>
      <fieldset class="app-fieldset">
        <legend aria-label="Horizontal align options">Horizontal align</legend>
          <mat-radio-group [(ngModel)]="horizAlign" 
          cdkMonitorSubtreeFocus (cdkFocusChange)="subtreeOrigin = formatOrigin($event);">
            <mat-radio-button *ngFor="let align of horizAlignArr"
            [value]="align"
            cdkMonitorElementFocus (cdkFocusChange)="subtreeOrigin = formatOrigin($event);" [aria-label]="align">
            {{align}} {{subtreeOrigin}}</mat-radio-button>
          </mat-radio-group>
      </fieldset>
      <fieldset class="app-fieldset">
        <legend aria-label="Vertical align options">Vertical align</legend>
          <mat-radio-group [(ngModel)]="verticalAlign"
           cdkMonitorSubtreeFocus (cdkFocusChange)="subtreeOrigin = formatOrigin($event);">
            <mat-radio-button *ngFor="let align of verticalAlignArr" 
            [value]="align" [aria-label]="align">{{align}} {{subtreeOrigin}}</mat-radio-button>
          </mat-radio-group>
      </fieldset>
      <div class="bird-boxes" fxLayout="row wrap" [fxLayoutAlign]="horizAlign + ' ' + verticalAlign">
        <div *ngFor="let obj of fxLayoutConfig; let i=index" class="box" [style.background-color]="obj.color"
          [style.height]="obj.height+'px'"><p>{{obj.bird}}</p></div>
      </div>
      </ng-template>
    </shared-card>
