
.grid-projects {
    display: grid;
    grid-gap: 2rem 1rem;
    background-color: #eee7e7;
    padding: 1rem;
    border: 3px solid var(--main-color);
    border-radius: 12px;
}

.pet-projects {
    grid-template-columns: repeat(auto-fit, minmax(242px, 47%));
}

.section-title {
    text-align: center;
    margin-top: 50px;
}

@media (max-device-width: 768px) {
    .grid-projects {
        grid-template-columns: 100%;
    }
}

.grid-projects-item {
    background: #FAD2CE;
    border: 2px solid var(--main-color);
    border-radius: 8px;
}

.mat-card-title {
    justify-content: space-between;
    display: flex;
    color: var(--main-color);
    font-size: 1.3rem;
    font-weight: bold;
}

.mat-card-image {
    border: 1px solid black;
    margin-top: 0 !important;
}

.button-item {
    margin: 0.25rem;
    border-radius: 8px;
    background-color: var(--main-color);
    font-size: 13px;
    padding: 0.4rem;
    color: white;
}

