
<div id="sidebar" class="sidebar-wrapper">
    <div class="profile-container">
        <img class="profile" [src]="img_profile" alt="profile" />
        <h1 class="name">{{name}}</h1>
        <h3 class="tagline">Frontend developer</h3>
    </div>

    <div class="container-block">
        <ul class="list-unstyled contact-list">
            <li class="email"><i class="fa fa-envelope"></i><a href="mailto: karpovich.andrey@gmail.com">karpovich.andrey @gmail.com</a></li>
            <li class="phone"><i class="fa fa-phone"></i><a href="tel:067-88-66-768">063-72-16-651</a></li>
            <li class="linkedin"><i class="fa fa-skype" ></i>andrey-traveller</li>
            <li class="linkedin"><i class="fa fa-linkedin" ></i><a href="https://www.linkedin.com/in/andrey-karpovich-345701131" target="_blank">LinkedIn</a></li>
            <li class="github"><i class="fa fa-github" ></i><a href="https://github.com/Ktojan" target="_blank">github.com/Ktojan</a></li>
        </ul>
    </div> 
</div>
