.sidebar-wrapper {
    height: 100%;
    background: var(--auxiliary-main-color);
    color: #fff;
}

.sidebar-wrapper a {
    color: #fff;
}

.sidebar-wrapper .profile-container {
    text-align: center;
    padding: 30px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.sidebar-wrapper .name {
    font-size: 28px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;
}

.sidebar-wrapper .tagline {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1rem;
}

.sidebar-wrapper .profile {
    margin-bottom: 15px;
    width: 13vw;
    max-width: 215px;
    border-radius: 50%;
    border-style: solid;
}

.sidebar-wrapper .contact-list .fa {
    margin-right: 12px;
    font-size: 20px;
    vertical-align: middle;
}

.sidebar-wrapper .contact-list li {
    margin-bottom: 22px;
    text-overflow: ellipsis;
}

.sidebar-wrapper .container-block {
    padding: 6%;
}
