
<div id="sidebar" class="sidebar-wrapper">
    <div class="profile-container">
        <img class="profile" [src]="profile.img_profile" alt="profile" />
        <h1 class="name">{{profile.name}}</h1>
        <h3 class="tagline">Frontend developer</h3>
        <h2 class="tagline">Born in {{profile.born_year}} in {{profile.born_city}}. Current location: {{profile.current_city}}</h2>
    </div>

    <div class="container-block">
        <ul class="list-unstyled contact-list">
            <li class="email"><i class="fa fa-envelope"></i><a [href]="'mailto: '+ profile.email">{{profile.email}}</a></li>
            <li class="phone" tooltip="whatsapp"><i class="fa fa-whatsapp"></i>{{profile.whatsapp}}</li>
            <li class="linkedin"><i class="fa fa-linkedin" ></i><a href="https://www.linkedin.com/in/andrey-karpovich-345701131" target="_blank">LinkedIn</a></li>
            <li class="github"><i class="fa fa-github" ></i><a href="https://github.com/Ktojan" target="_blank">github.com/Ktojan</a></li>
        </ul>
    </div> 
</div>
