
/* is imported to styles.css */

.grid {
    display: grid;
    grid-template-columns: auto minmax(17%, 21%);
}

.grid-content {
    display: grid;
    grid-template-rows: 97px minmax(500px, max-content);
}

