<div id="experience" class="content">
    <ng-container *ngIf="loaded">
        <section class="section experiences-section" >
            <div class="item" *ngFor="let row of experiences">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">{{row.position}}</h3>
                        <div class="time">{{row.years}}</div>
                    </div><!--//upper-row-->
                    <div class="company">{{row.company}}&nbsp;
                        <a *ngIf="row.companySite" [href]="row.companySite" target="_blank">(company site)</a>
                    </div>
                </div><!--//meta-->
                <div class="details">
                    <p>{{row.description}}</p>
                </div><!--//details-->
                <hr />
            </div><!--//item-->
        </section><!--//section-->
    </ng-container>

    <div class="h-100" *ngIf="!loaded">
        <div class="spinner">
            <img src="./assets/img/spinner.gif" />
        </div>
    </div>
</div>